<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <div class="nav-bg"></div>
  <ul>
    <li><a href="\">DTSC-691</a></li>
    <li><a href="\resume">Resume</a></li>
    <li><a href="\biographical_homepage">Bio</a></li>
    <li><a href="\other_projects">Other Projects</a></li>
  </ul>
</nav>

<div class="bio-page">
    <div class="bio-intro-wrapper">
        <div class="bio-intro-text">
            Welcome to my biographical homepage! In this section, I will be discussing more about me. Here are some details about
            my academic and professional background and my personal and professional interests and aspirations.
        </div>
    </div>
    <div class="bio-wrapper">
        <h2>Hobbies</h2>
            <div class="bio-intro-wrapper">
                <img src="../static/profile_2.png" class="profile-img">
                <div class="bio-intro-text">
                    Ball room dancing is a hobby that I picked up 6 years ago. Today, I dance socially.
                </div>
            </div>
            <div class="bio-intro-wrapper">
                <img src="../static/modeling.png" class="profile-img">
                <div class="bio-intro-text">
                    Modeling is another hobby that I picked up 3 years ago.
                </div>
            </div>
        <h2>Work</h2>
            <div class="bio-intro-wrapper">
                <img src="../static/profile_1.png" class="profile-img">
                <div class="bio-intro-text">
                    Welcome to my biographical homepage! In this section, I will be discussing more about me. Here are some details about
                    my academic and professional background and my personal and professional interests and aspirations.
                </div>
            </div>
        <h2>Future Aspirations</h2>
            <div class="bio-intro-wrapper">
                <img src="../static/profile_1.png" class="profile-img">
                <div class="bio-intro-text">
                    Welcome to my biographical homepage! In this section, I will be discussing more about me. Here are some details about
                    my academic and professional background and my personal and professional interests and aspirations.
                </div>
            </div>
    </div>
</div>
