<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <div class="nav-bg"></div>
  <ul>
    <li><a href="\">Home Page</a></li>
    <li><a href="\resume">Resume</a></li>
    <li><a href="\other_projects">Portfolio</a></li>
    <li><a href="\DTSC_691_project">Project</a></li>
  </ul>
</nav>

<div class="resume-page">
    <div class="intro-wrapper">
        <div class="intro-text">
            Welcome to my web application. My name is Rosie Bahrani and I am a software engineer by day and a DTSC student by night.
            I graduated from the University of Waterloo with a degree in Software Engineering in 2022. I started working as a software engineer
            for a financial firm after graduation. The inspiration behind this project comes from the time that I spent working on financial models
            that included analyses on the prices of futures and options contracts.
        </div>
        <div class="content-wrapper">
            <img src="../static/images/profile.PNG">
        </div>
    </div>
</div>
