body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

nav {
  position: fixed;
  z-index: 9999;
  top: 20;
  left: 0;
  width: 100%;
  height: 35px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: .2em 2em;
  float: right;
}

nav ul li {
  display: inline-block;
  margin: 0;
  padding: .2em .7em;
}

nav a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.15em;
  font-weight: lighter;
  letter-spacing: 1px;
  transition: .25s ease-in-out;
}

nav a:hover {
  color: rgb(220, 120, 0);
}

.nav-bg {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(12, 10, 10);
  justify-content: flex-end;
  transition: .25s ease-in-out;
  z-index: -1;
}

.bg-hidden {
  top: -100%;
  opacity: 0;
}

.bg-visible {
  top: 0;
  opacity: 1;
}

h1 {
  text-align: center;
  font: 30px/1.5 Helvetica, Verdana, sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 30%;
  letter-spacing: 10px;
  color: whitesmoke;
  text-shadow: 20px 20px 40px black;
  font-weight: bold;
}

.page {
  position: relative;
  width: 100%;
  height: 400px;
  top: 10%;
  background: rgb(50, 50, 50);
  background: url(/static/images/unsplash-image.jpg) no-repeat 100% 100% fixed;
  background-size: 90%;
  overflow: hidden;
}

.intro-text {
    display: block;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 100px 100px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
    line-height: 1.6;
    background-color: rgb(253, 143, 0);
    background-blend-mode: hue;
}

.intro-wrapper {
    display: flex;
    flex-direction: row;
}

.profile-img {
    width: auto;
    height: auto;
    border-radius: 20px;
    border-color: rgb(220, 120, 0);
    border-width: 3px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.resume-wrapper {
    margin-left: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    border-left: 5px solid rgb(220, 120, 0);
    padding-left: 20px;
    margin-top: 50px;
}

.resume-wrapper h2 {
    font-weight: bold;
    font-size: 24px;
}

.content-wrapper form {
    position: fixed;
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: .3em;
  font-size: 3em;
  font-weight: lighter;
}

.results-for-query {
  position: relative;
  top: 10%;
  width: 100%;
  padding: 0.4em;
  font-size: 3em;
  font-weight: lighter;
}

.content-wrapper {
    position: relative;
  width: 80%;
  height: 3000px;
    margin: 0 auto;
  padding: 1em 10%;
}

.content-wrapper h1 {
    position: relative;
    top: 5%;
  margin: 0;
  color: rgb(220, 120, 0);
}
.plot-container{
    top: 5%;
    left: -100;
    right: 20px;
    position: relative;
}
.content-wrapper p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-indent: 1.5em;
}